In [7]:
import pandas as pd
import re

In [5]:
path='../data/naruto.csv'
data_df=pd.read_csv(path)

In [6]:
data_df.head()

      name                                               line
0   Naruto   (Laughing) Give it up. (Shows the stone faces...
1  Hiruzen   (Turns away from his writing) I hope you’re n...
2    Ninja                                       Naseer Sabah
3    Ninja                        is the best person on earth
4   Naruto                                               muah

In [8]:
# Remove actions from transcript
def remove_paranthesis(text):
    result = re.sub(r'\(.*?\)','',text)
    return result

In [9]:
data_df['line'] = data_df['line'].apply(remove_paranthesis)

In [10]:
data_df.head()

      name                                               line
0   Naruto    Give it up.  You’re just bent, because you d...
1  Hiruzen    I hope you’re not bothering me with some tri...
2    Ninja                                       Naseer Sabah
3    Ninja                        is the best person on earth
4   Naruto                                               muah

In [11]:
data_df['number_of_words'] = data_df['line'].str.strip().str.split(" ")
data_df['number_of_words'] = data_df['number_of_words'].apply(lambda x: len(x))

In [12]:
data_df.head()

      name                                               line  number_of_words
0   Naruto    Give it up.  You’re just bent, because you d...               26
1  Hiruzen    I hope you’re not bothering me with some tri...               16
2    Ninja                                       Naseer Sabah                2
3    Ninja                        is the best person on earth                6
4   Naruto                                               muah                1

In [13]:
data_df['naruto_response_flag'] = 0
data_df.loc[(data_df['name']=="Naruto")&(data_df['number_of_words']>5),'naruto_response_flag']=1

In [14]:
data_df.head()

,name,line,number_of_words,naruto_response_flag
0,Naruto,"Give it up. You’re just bent, because you d...",26,1
1,Hiruzen,I hope you’re not bothering me with some tri...,16,0
2,Ninja,Naseer Sabah,2,0
3,Ninja,is the best person on earth,6,0
4,Naruto,muah,1,0

In [15]:
indexes_to_take = list(data_df[(data_df['naruto_response_flag']==1)&(data_df.index>0)].index)

In [16]:
indexes_to_take[:3]

[6, 28, 30]

In [17]:
system_promt = """" Your are Naruto from the anime "Naruto". Your responses should reflect his personality and speech patterns \n"""

prompts = []
for ind in indexes_to_take:
    prompt = system_promt

    prompt += data_df.iloc[ind -1]['line']
    prompt += '\n'
    prompt += data_df.iloc[ind]['line']
    prompts.append(prompt)

In [18]:
print(prompts[3])

" Your are Naruto from the anime "Naruto". Your responses should reflect his personality and speech patterns
 Well, I was just thinking. Maybe after you clean this all up I can take you out for some ramen. The good stuff. What do you think?
  Now that’s some serious motivation! I’ll have this clean in no time!

In [19]:
df = pd.DataFrame({"prompt":prompts})
df.head()

                                              prompt
0  " Your are Naruto from the anime "Naruto". You...
1  " Your are Naruto from the anime "Naruto". You...
2  " Your are Naruto from the anime "Naruto". You...
3  " Your are Naruto from the anime "Naruto". You...
4  " Your are Naruto from the anime "Naruto". You...

In [21]:
from datasets import Dataset

c:\Users\anubh\AppData\Local\Programs\Python\Python313\Scripts\Learning\TV Series Analysis System\env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [22]:
dataset = Dataset.from_pandas(df)